.root {
  flex: none;
  border: none;
  background: var(--sds-color-border-default);
}

.root[data-orientation='horizontal'] {
  width: 100%;
  height: 1px;
}

.root[data-orientation='vertical'] {
  width: 1px;
  align-self: stretch;
  min-height: var(--sds-space-4);
}
