.root {
  display: flex;
  flex-direction: column;
  gap: var(--sds-space-2);
}

.label {
  font-family: var(--sds-typography-label-md-font-family);
  font-size: var(--sds-typography-label-md-font-size);
  font-weight: var(--sds-typography-label-md-font-weight);
  line-height: var(--sds-typography-label-md-line-height);
  letter-spacing: var(--sds-typography-label-md-letter-spacing);
  text-transform: var(--sds-typography-label-md-text-transform);
  color: var(--sds-color-content-default);
}

.description {
  font-family: var(--sds-typography-caption-font-family);
  font-size: var(--sds-typography-caption-font-size);
  font-weight: var(--sds-typography-caption-font-weight);
  line-height: var(--sds-typography-caption-line-height);
  letter-spacing: var(--sds-typography-caption-letter-spacing);
  text-transform: var(--sds-typography-caption-text-transform);
  color: var(--sds-color-content-muted);
}

.group {
  display: flex;
  flex-direction: column;
  gap: var(--sds-space-3);
  margin-top: var(--sds-space-1);
}

.horizontal {
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: var(--sds-space-5);
}

.error {
  font-family: var(--sds-typography-caption-font-family);
  font-size: var(--sds-typography-caption-font-size);
  font-weight: var(--sds-typography-caption-font-weight);
  line-height: var(--sds-typography-caption-line-height);
  letter-spacing: var(--sds-typography-caption-letter-spacing);
  text-transform: var(--sds-typography-caption-text-transform);
  color: var(--sds-color-content-danger);
}
